@font-face {
    font-family: 'Grtsk Giga';
    src: local('Grtsk Giga Bold'), local('Grtsk-Giga-Bold'),
    url('../font/GrtskGiga-Bold.woff2') format('woff2'),
    url('../font/GrtskGiga-Bold.woff') format('woff'),
    url('../font/GrtskGiga-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    background-color: #BEBEBE;
    font-family: "Grtsk Giga", sans-serif;
    padding: 24px 19px;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

/*header*/
header {
    display: flex;
    justify-content: space-between;
}

/*сhange-language*/
.chose__language {
    position: relative;
    padding: 12px;
}

.chose__language:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 38px;
    height: 38px;
    border: 1px solid #fff;
    border-radius: 50%;
}

@keyframes changeLanguage {

}


/*logo*/

.logo__container svg path {
    fill: #BEBEBE;
}

/*navigation*/

.nav_bar ul {
    text-decoration: none;
    list-style: none;
}

.nav_bar .toggle__menu {
    display: none;
}

.nav_bar ul a {
    position: relative;
    text-decoration: none;
    color: #373737;
}


.navbar-nav .navbar-item {
    position: absolute;
    z-index: 5;
}

.navbar-nav .navbar-item a:after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    border-radius: 5px;
    transition: width 2s;
}

.navbar-nav .navbar-item a:hover {
    color: #fff;
    transition: color 2ms;
}

.navbar-nav .navbar-item a:hover::after {
    width: 100%;
    color: #fff;
}

.navbar-item:first-child {
    top: 50%;
    left: -17px;
    transform: translate(0, -7px) rotate(270deg);
}

.navbar-item:nth-child(2) {
    bottom: 2%;
    left: 50%;
    transform: translateX(-32px);
}

.navbar-item:last-child {
    top: 50%;
    right: -1%;
    transform: translate(-3px, -8px) rotate(90deg);
}

/*main*/

main {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    max-width: calc(100% - 50px);
    width: 100%;
}

main .container {
    position: relative;
}

.text__content {
    justify-content: center;
    align-items: center;
    position: relative;
    height: 578px;
    z-index: 1;
    text-align: center;
}

.text__content h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 82px;
    z-index: 2;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.text__content:before {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    content: "";
    height: 578px;
    width: 578px;
    background: #FFCB46;
    border-radius: 50%;
    z-index: -1;
    filter: blur(76px)
}


/*running tape*/

.tape__container span {
    position: absolute;
    text-align: center;
    display: inline-block;
    font-size: 52px;
    font-weight: 700;
    color: rgba(255,255,255, 1);
    text-shadow: 0 0 0 black;
    text-transform: uppercase;
    opacity: 0.1;
    white-space: nowrap;
}

.top__tape {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%) skew(230deg, 140deg) scaleY(-1);
    height: 50px;
    width: 100%;
    margin: 0 auto;
    background: none;
    overflow: hidden;
}

.top__tape span {
    animation-duration: 30s;
    animation-delay: 0s;
    animation-name: left-dir;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes left-dir {
    0% {
        transform: translate(160%, 0);
    }
    100% {
        transform: translate(-160%, 0);
    }
}

.bottom__tape {
    position: absolute;
    top: 50%;
    transform: translate(0, 100%) skew(230deg, 140deg);
    height: 50px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    /*background: #343436;*/
}

.bottom__tape span {
    animation-duration: 30s;
    animation-delay: 0s;
    animation-name: right-dir;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes right-dir {
    0% {
        transform: translate(-180%, 0);
    }
    100% {
        transform: translate(180%, 0);
    }
}

/*circle*/
.show-reel__container {
    width: 115px;
    height: 115px;
    position: relative;
    top: 76%;
    left: 61%;
}


.show-reel__container:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 8px;
    height: 8px;
    background-color: #000;
    border-radius: 50%;
}


.show-reel__container:hover {
    animation: circle 5s linear infinite;
}

@keyframes circle {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
@media screen and (max-width: 1024px){
    main .text__content h1{
        font-size: 58px;
    }
}

@media screen and (max-width: 768px) {
    main .text__content h1{
        font-size: 58px;
    }

    /*mobile navigation*/
    .navbar-nav .navbar-item {
        position: relative;
    }

    .navbar-item:first-child {
        top: 0;
        left: 0;
        transform: none;
    }

    .navbar-item:nth-child(2) {
        bottom: 0;
        left: 0;
    }

    .navbar-item:last-child {
        top: 0;
        right: 0;
        transform: none;
    }
}

@media screen and (min-width: 375px){

    main .text__content h1{
        font-size: 34px;
    }

}