@font-face {
    font-family: 'Grtsk Giga';
    src: local('Grtsk Giga Bold'), local('Grtsk-Giga-Bold'),
    url('../font/GrtskGiga-Bold.woff2') format('woff2'),
    url('../font/GrtskGiga-Bold.woff') format('woff'),
    url('../font/GrtskGiga-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    background-color: #BEBEBE;
    font-family: "Grtsk Giga", sans-serif;
    font-size: 16px;
    padding: 24px 19px;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

/*header*/
header {
    display: flex;
    justify-content: space-between;
}

/*сhange-language*/

.chose__language {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.chose__language:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 38px;
    height: 38px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.drop__language {
    margin-bottom: 5px;
}

.drop__language div {
    opacity: 0;
    transition: 0.5s;
    text-align: center;
}

.drop__language div.show {
    opacity: 1;
    cursor: pointer;
}


/*logo*/

.logo {
    width: 84px;
    height: 46px;
    display: block;
}


@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

/*navigation*/

.nav_bar ul {
    text-decoration: none;
    list-style: none;
}

.nav_bar .toggle__menu {
    display: none;
}

.nav_bar ul a {
    position: relative;
    text-decoration: none;
    color: #373737;
}


.navbar-nav .navbar-item {
    position: absolute;
    z-index: 5;
}

.navbar-nav .navbar-item a:after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    border-radius: 5px;
    transition: width 2s;
}

.navbar-nav .navbar-item a:hover {
    color: #fff;
    transition: color 2ms;
}

.navbar-nav .navbar-item a:hover::after {
    width: 100%;
    color: #fff;
}

.navbar-item:first-child {
    top: 50%;
    left: -17px;
    transform: translate(0, -7px) rotate(270deg);
}

.navbar-item:nth-child(2) {
    bottom: 2%;
    left: 50%;
    transform: translateX(-32px);
}

.navbar-item:last-child {
    top: 50%;
    right: -1%;
    transform: translate(-3px, -8px) rotate(90deg);
}

/*main*/

main {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    max-width: calc(100% - 50px);
    width: 100%;
}

main .container {
    position: relative;
}

.text__content {
    justify-content: center;
    align-items: center;
    position: relative;
    height: 578px;
    z-index: 1;
    text-align: center;
}

.text__content h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 5.125rem;
    z-index: 2;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.text__content:before {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    content: "";
    height: 578px;
    width: 578px;
    background: #FFCB46;
    border-radius: 50%;
    z-index: -1;
    filter: blur(76px)
}


/*running tape*/

.tape__container span {
    position: absolute;
    text-align: center;
    display: inline-block;
    font-size: 52px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 0 0 black;
    text-transform: uppercase;
    opacity: 0.1;
    white-space: nowrap;
}

.top__tape {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%) skew(230deg, 140deg) scaleY(-1);
    height: 50px;
    width: 100%;
    margin: 0 auto;
    background: none;
    overflow: hidden;
}

.top__tape span {
    animation-duration: 30s;
    animation-delay: 0s;
    animation-name: left-dir;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes left-dir {
    0% {
        transform: translate(160%, 0);
    }
    100% {
        transform: translate(-160%, 0);
    }
}

.bottom__tape {
    position: absolute;
    top: 50%;
    transform: translate(0, 100%) skew(230deg, 140deg);
    height: 50px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    /*background: #343436;*/
}

.bottom__tape span {
    animation-duration: 30s;
    animation-delay: 0s;
    animation-name: right-dir;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes right-dir {
    0% {
        transform: translate(-180%, 0);
    }
    100% {
        transform: translate(180%, 0);
    }
}

/*circle*/
.show-reel__container {
    width: 115px;
    height: 115px;
    position: relative;
    top: 76%;
    left: 61%;
}


.show-reel__container:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 8px;
    height: 8px;
    background-color: #000;
    border-radius: 50%;
}


.show-reel__container:hover {
    animation: circle 5s linear infinite;
}

.show-reel__container img {
    max-width: 100%;
}

@keyframes circle {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1024px) {
    .logo {
        width: 69px;
        height: 38px;
        display: block;
    }

    .body {
        font-size: 14px;
    }

    main .text__content h1 {
        font-size: 4.14rem;
        white-space: nowrap;
    }

    main .text__content:before {
        width: 482px;
        height: 482px;
        filter: blur(76px);
    }
}

/*max-width: 768px*/

@media screen and (max-width: 767px) {
    .logo {
        width: 65px;
        height: 33px;
        display: block;
    }

    /*mobile navigation*/
    .nav_bar {
        position: relative;
        width: 22px;
    }

    .nav_bar .navbar-nav {
        opacity: 0;
        transition: opacity 3s;
        transform: translateY(10%);
    }

    .nav_bar .navbar-nav.active {
        display: block;
        opacity: 1;
        position: absolute;
        top: 30px;
        right: 0;
        transform: translateY(20%);
    }

    .navbar-nav .navbar-item {
        position: relative;
        transform: none;
        top: 0;
        left: 0;
        right: 0;
        margin-bottom: 5px;
        z-index: 10;
    }

    .nav_bar .toggle__menu {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 22px;
        height: 10px;
        cursor: pointer;
        border: none;
        background: none;
        margin: 5px;
    }

    .nav_bar .toggle__menu span {
        position: absolute;
        top: 0;
        left: 0;
    }

    .nav_bar .toggle__menu span:before,
    .nav_bar .toggle__menu span:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        width: 22px;
        height: 1px;
        background-color: #000;
    }

    .nav_bar .toggle__menu span:before {
        top: -5px;
    }

    .nav_bar .toggle__menu span:after {
        bottom: -5px;
    }

    main .text__content h1 {
        font-size: 3.4rem;
    }

    main .text__content:before {
        width: 359px;
        height: 359px;
        filter: blur(58px)
    }

    .show-reel__container {
        width: 90px;
        height: 90px;
    }

    .show-reel__container:after {
        width: 6px;
        height: 6px;
    }

    .tape__container div {
        transform: skew(234deg, 125deg);
        overflow: visible;
    }
}

@media screen and (max-width: 375px) {
    .body {
        font-size: 12px;
        padding: 16px;
    }

    /*сhange-language*/
    .chose__language {
        width: 34px;
        height: 34px;
    }

    .chose__language:after {
        width: 32px;
        height: 32px;
    }

    /*logo*/
    .logo {
        width: 57px;
        height: 34px;
        display: block;
    }


    /*main*/
    main {
        top: 41%;
    }

    main .text__content h1 {
        font-size: 1.7rem;
    }

    main .text__content:before {
        width: 294px;
        height: 294px;
        filter: blur(46px);
    }

    .show-reel__container {
        top: 60%;
    }

}