@font-face {
    font-family: 'Grtsk Giga';
    src: local('Grtsk Giga Bold'), local('Grtsk-Giga-Bold'),
    url('../font/GrtskGiga-Bold.woff2') format('woff2'),
    url('../font/GrtskGiga-Bold.woff') format('woff'),
    url('../font/GrtskGiga-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    background-color: #BEBEBE;
    font-family: "Grtsk Giga", sans-serif;
    font-size: 16px;
    padding: 24px 19px;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

/*header*/
header {
    display: flex;
    justify-content: space-between;
}

/*сhange-language*/

.container__chose-language {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container__chose-language:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 38px;
    height: 38px;
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 50%;
}

.container__language-items div {
    opacity: 0;
    transition: 0.5s;
}

.container__language-items div.show {
    opacity: 1;
    cursor: pointer;
}


/*logo*/

.logo {
    width: 84px;
    height: 46px;
    display: block;
}


@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

/*navigation*/

.navbar ul {
    text-decoration: none;
    list-style: none;
}

.navbar .navbar__toggle-menu {
    display: none;
}

.navbar ul a {
    position: relative;
    text-decoration: none;
    color: #373737;
}


.navbar-nav .navbar-item {
    position: absolute;
    z-index: 5;
}

.navbar-nav .navbar-item a:after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    border-radius: 5px;
    transition: width 2s;
}

.navbar-nav .navbar-item a:hover {
    color: #fff;
    transition: color 2ms;
}

.navbar-nav .navbar-item a:hover::after {
    width: 100%;
    color: #fff;
}

.navbar-item:first-child {
    top: 50%;
    left: -17px;
    transform: translate(0, -7px) rotate(270deg);
}

.navbar-item:nth-child(2) {
    bottom: 2%;
    left: 50%;
    transform: translateX(-32px);
}

.navbar-item:last-child {
    top: 50%;
    right: -1%;
    transform: translate(-3px, -8px) rotate(90deg);
}

/*main*/

main {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    max-width: calc(100% - 50px);
    width: 100%;
}

main .container {
    position: relative;
}

.container__title {
    justify-content: center;
    align-items: center;
    position: relative;
    height: 578px;
    z-index: 1;
    text-align: center;
}

.container__title h1 {
    position: absolute;
    top: 50%;
    left: 12%;
    font-size: 5.125rem;
    z-index: 2;
    transform: translate(0, -50%);
}

.container__title:before {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    content: "";
    height: 578px;
    width: 578px;
    background: #FFCB46;
    border-radius: 50%;
    z-index: -1;
    filter: blur(76px)
}

/*running tape*/

.container__tapes-slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
}

.container__top-tape,
.container__bottom-tape {
    position: relative;
    width: 100%;
    margin: 0 auto;
    background: none;
}

.container__top-tape {
    transform: skew(230deg, 151deg) scaleY(-1);
}

.container__bottom-tape {
    transform: skew(230deg, 151deg);
}

.container__top-tape span,
.container__bottom-tape span {
    position: absolute;
    font-size: 52px;
    font-weight: 700;
    color: rgba(255 253 253 / 45%);
    text-shadow: #000 1px 0 0px, #000 0 1px 0px, #000 -1px 0 0px, #000 0 -1px;
    text-transform: uppercase;
    opacity: 1;
    white-space: nowrap;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.container__top-tape span {
    animation-name: left-dir;
}

.container__bottom-tape span {
    animation-name: right-dir;
}

@keyframes right-dir {
    0% {
        transform: translate(-100%, 0);
    }
    100% {
        transform: translate(100%, 0);
    }
}

@keyframes left-dir {
    0% {
        transform: translate(100%, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}


/*circle*/
.container__show-reel-circle {
    width: 115px;
    height: 115px;
    position: relative;
    top: 70%;
    left: 61%;
}


.container__show-reel-circle:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 8px;
    height: 8px;
    background-color: #000;
    border-radius: 50%;
}


.container__show-reel-circle:hover {
    animation: circle 5s linear infinite;
}

@keyframes circle {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

/*custom style */

.m-auto {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

/*media-screen 1024*/

@media screen and (max-width: 1024px) {
    .body {
        font-size: 14px;
    }

    main .container__title h1 {
        font-size: 4.14rem;
        white-space: normal;
    }

    main .container__title:before {
        width: 482px;
        height: 482px;
        filter: blur(76px);
    }

    .container__top-tape {
        transform: skew(220deg, 145deg) scaleY(-1);
    }

    .container__bottom-tape {
        transform: skew(220deg, 145deg);
    }
}

/*max-width: 768px*/

@media screen and (max-width: 767px) {

    /*mobile navigation*/
    .navbar {
        position: relative;
        width: 22px;
    }

    .navbar .navbar-nav {
        opacity: 0;
        position: absolute;
        top: 30px;
        right: 0;
        transition: opacity 2s, transform 2s;
        transform: translateY(0%);
    }

    .navbar .navbar-nav.active {
        display: block;
        opacity: 1;
        z-index: 10;
        transform: translateY(30%);
    }

    .navbar-nav .navbar-item {
        position: relative;
        transform: none;
        top: 0;
        left: 0;
        right: 0;
        margin-bottom: 5px;
        z-index: 10;
    }

    .navbar .navbar__toggle-menu {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 22px;
        height: 10px;
        cursor: pointer;
        border: none;
        background: none;
        margin: 5px;
        z-index: 10;
    }

    .navbar .navbar__toggle-menu:before,
    .navbar .navbar__toggle-menu:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        width: 22px;
        height: 1px;
        background-color: #000;
    }

    .navbar .navbar__toggle-menu:before {
        top: 0px;
    }

    .navbar .navbar__toggle-menu:after {
        bottom: 0px;
    }

    main .container__title h1 {
        font-size: 3.1rem;
    }

    main .container__title:before {
        width: 359px;
        height: 359px;
        filter: blur(58px)
    }

    .container__top-tape {
        transform: skew(235deg, 125deg) scaleY(-1);
    }

    .container__bottom-tape {
        transform: skew(235deg, 125deg);
    }
}

@media screen and (max-width: 375px) {
    .body {
        font-size: 12px;
    }

    main .container__title h1 {
        font-size: 2.83rem;
        white-space: normal;
    }

    main .container__title:before {
        width: 294px;
        height: 294px;
        filter: blur(46px);
    }

}